.page {
padding: 50px;

}

.foot {
	
	
	text-align:center;
	font-size:10pt;
}

.content {

	background-color:#fafafa;
	padding:20px;
}

.pure-menu .pure-menu-heading {

	font-size:150%;
	color:black;
	font-weight:bold;
}

.pure-menu.pure-menu-horizontal, .pure-menu.pure-menu-horizontal .pure-menu-heading { 
	display:inline-block;
}

.pure-menu a, .pure-menu .pure-menu-can-have-children > li:after {

	color:#000;
	
}

.pure-menu .pure-menu-selected a {

    font-weight: bold;
}


.top{

font-size:175%;
font-weight:bold;
}

#degToDMS{
display:none;
}

#latToAt{
display: none;
}

#batch{
display:none;
}

.previews{


}

.points{
float:right;


}

nav {
padding-bottom:85px;
}

nav ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	display:block;
	}
	
nav ul li {
	float:left;
	display:list-item;
	list-style: none; 
	
	background-color:#fff;
	border-bottom: 5px solid #0078E7;
	}

nav ul li a {
	display:block;
	padding:15px 10px;	
	
	color:#000;
	
	text-decoration:none;
}

li a:hover { background-color: #eee; }

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content: ' »'; } 
li > a:only-child:after { content: ''; }  	
	
	
/* The Dropdown Styles */
/* =================== */

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; top: 53px;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:list-item;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	
	float:none;
	position: relative;
	border-bottom:none;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: absolute relative;
	top:-58px; 
	left:170px;
}





